<div class="m-5 p-5">

    <h3 class="mb-5">Catalogue</h3>


    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Nom</th>
                <th>Prénom</th>
            </tr>
        </thead>
        <tbody>
    
            <tr *ngFor="let ba of bas">
                <td>{{ ba.title }}</td>
                <td>{{ ba.name }}</td>
                <td>{{ ba.firstname }}</td>
            </tr>
    
        </tbody>
    </table> 
</div>

