/* a {
  color: rgba(17, 15, 15, 0.6);
  text-decoration: none;
} */

.line {
  border-bottom: 1px solid white;
  padding-bottom: 15px;
}

.row {
  font-size: larger;
}

.container {
  height: 400px;
  overflow-y: scroll;
}
