 <div class="m-5">

    <h3>Livres</h3> 

    <div class="row mb-5">
        <div class="col-3">
             <button type="button" class="mt-5 btn btn-primary" (click)="create()">Créer un nouveau livre</button>
        </div>
        <div class="col-6">
            <button type="button" class="mt-5 btn btn-primary" (click)="bind()">Lier un auteur à un livre</button> 
        </div>
    </div>
   
    
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Date</th>
                <th>Résumé</th>
            </tr>
        </thead>
        <tbody>
         
               <tr *ngFor="let book of books">
                <td>{{ book.title }}</td>
                <td>{{ book.dateBook | date: "d/M/yyyy" }}</td>
                <td>{{ book.resume }}</td>
               </tr>
           
        </tbody>
    </table> 
 </div>
