<div class="m-5">

    <h3>Catalogue</h3>


    <button type="button" class="mt-5 btn btn-primary" (click)="create()">Créer un nouveau livre</button>&nbsp;&nbsp;&nbsp;

    <button type="button" class="mt-5 btn btn-primary" (click)="bind()">Lier un auteur à un livre</button>

     <div class="row line pb-4 mt-5">
        <div class="col-3">
            <h5>Titre</h5>
        </div>
        <div class="col-2">
            <h5>Date</h5>
        </div>
        <div class="col-7">
            <h5>Résumé</h5>
        </div>
    </div>

    <div class="container">
        <div class="line mt-3" *ngFor="let book of books">
            <a>
            <!-- <a routerLink="/book-author/{{ book.bookId }}"> -->
                <div class="row">
                    <div class="col-3">
                        {{ book.title }}
                    </div>

                    <div class="col-2">
                        {{ book.dateBook | date: "d/M/yyyy" }}
                    </div>

                    <div class="col-7">
                        {{ book.resume }}
                    </div>
                </div>
            </a>
        </div>
    </div>    
    

</div> 

