<div class="p-5">
    <div *ngFor="let ba of bas">
       <div class="row">          
            <h1>{{ ba.title }}</h1>
        </div>   
       <!--<h4 class="row pt-3"> Auteur: </h4>-->
        <div class="row pt-4">
           <h5 class="col-2">
               <p>Auteur:</p>
           </h5>
           
            <h5 class="col-2">
                 {{ ba.name }}
            </h5>
            <h5 class="col-2">
                {{ ba.firstname }}
            </h5>
            <h5 class="col-2">
                {{ ba.birthDate | date: "dd/MM/yyyy" }}
            </h5>
        </div>
        <div class="row">
            <div class="col-2">
                <h5>Langue:</h5>
            </div>

        </div>
    <h4 class="row pt-4">Langue: </h4>
        <p class="resume mt-5 pt-2">{{ ba.resume }}</p>
    </div>
    </div>


