<!-- bootstrap:ng add @ng-bootstrap/ng-bootstrap --save
et à essayer sans le save-->
  <header>
    <h4 class="mt-2">Arrivage de nouveaux livres toutes les semaines</h4>
  </header>

  <div class="mbody">
    <div class="bg-dark">
      <div class="row">
        <div class="col-12">
          <h1 class="mt-4"><a href="home" style="color: white">La futurothèque</a></h1>
        </div>
        <div class="row">
          <div class="container m-4">
            <ul>
              <li class="nav-item cola"><a class="nava nav-link" routerLinkActive="linkActive" routerLink="home">Home</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>