<p>a effacer</p>
<p>je suis ur book</p>

<div class="p-5">
    <div *ngIf="book">
        <h2>{{ book.title }}</h2>
       <!-- <h4 class="pt-2">{{ book.writer }}</h4>

        <p class="resume mt-5 pt-2">Le résumé du livre</p>
        <button type="button" class="btn btn-secondary" [disabled]="!isAuth" (click)="addToCart(modalData, book)">Ajouter au panier</button>

        <ng-template #modalData let-modal>

            <div class="modal-body">
                <p>Le livre a bien été ajouter au panier</p>
                <button type="button" class="btn btn-secondary" (click)="modal.close('Save click')">OK</button>
            </div>
        </ng-template>-->
    </div>

</div>