<h3 class="py-4">Créer une adresse</h3>

<form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">

    <div class="form-group">
        <label>Ville: </label>
        <input class="form-control form-control-lg" formControlName="city">
    </div>

    <div class="form-group">
        <label>Code Postal:</label>
        <input class="form-control form-control-lg" formControlName="postCode">
    </div>

    <div class="form-group">
        <label>Rue:</label>
        <input class="form-control form-control-lg" formControlName="street">
    </div>

    <div class="form-group">
        <label>Numéro:</label>
        <input class="form-control form-control-lg" formControlName="number">
    </div>
    <div class="form-group">
        <label>Boîte:</label>
        <input class="form-control form-control-lg" formControlName="box">
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="myForm.invalid">Créer</button>
</form>